* {
    font-family: "Helvetica",sans-serif;
    box-sizing: border-box;
}

input, button, a {
    outline: none;
}

body {
    font-size: 16px;
    background: linear-gradient(145deg, #ffd89b 0%, #19547b 100%) no-repeat fixed;
    display: flex;
    flex-direction: column;
}